{% extends 'base.html.twig' %}

{% block title %}Гостевая книга конференции - {{ conference }}{% endblock %}

{% block body %}
    <h2>{{ conference }} Конференция</h2>

    {% if comments|length > 0 %}

        <div>Показан(о) {{ comments|length }} комментарий(ев)</div>

        {% for comment in comments %}
            {% if comment.photofilename %}
                <img src="{{ asset('uploads/photos/' ~ comment.photofilename) }}" style="max-width: 200px"  alt=""/>
            {% endif %}

            <h4>{{ comment.author }}</h4>
            <small>
                {{ comment.createdAt|format_datetime('medium', 'short') }}
            </small>

            <p>{{ comment.text }}</p>
        {% endfor %}

        {% if previous >= 0 %}
            <a href="{{ path('conference', {'slug': conference.slug, offset: previous}) }}">Предыдущая</a>
        {% endif %}
        {% if next < comments|length %}
            <a href="{{ path('conference', {'slug': conference.slug, offset: next}) }}">Следующая</a>
        {% endif %}
        
    {% else %}
        <div>Еще нет комментариев об этой конференции</div>
    {% endif %}
{% endblock %}